
.cart{
    
}
.empty{
    color: #eee;
}
.not_empty{
    color: deeppink;
}
.btn-default {
    border-color: #fff;
}
.icon-bar {
   color: black;
}
.navbar-default {
    background-color: #Fff;
    border-color: #fff;
}