{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css"%}">
</head>
<body>
   <div class="container">
    <nav class="navbar ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">E_shop</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
       <div class="navbar-right">
            <ul class="nav navbar-nav ">
                <li class="btn btn-default btn-xs">
                    <a href="#">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                         Home
                    </a></li>
<!--
                <li class="btn btn-default btn-xs"><a href="#">Features</a></li>
                <li class="btn btn-default btn-xs"><a href="#">Portfolio</a></li>
                <li class="btn btn-default btn-xs"><a href="#"> Blog</a></li>
-->
                <li class="btn btn-default btn-xs">
                    <a href="#">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    Contact
                    </a></li>
                <li class="btn btn-default btn-xs">
                   {% with total_items=cart|length %}
					{% if cart|length > 0 %}
						<a  href="{% url 'cart:detail' %}">
						<i class="fa fa-shopping-basket cart fa-2x not_empty" aria-hidden="true"></i>
						{{ cart.get_total_price }} uah.
						</a>
                    {%else%}
                      <a href="#">
                            <i class="fa fa-shopping-basket cart fa-2x empty" aria-hidden="true"></i> 0 uah.
                    </a>  
					{% endif %}
				{% endwith %} 
                
                </li>
            </ul>
            <div class="">
              
           </div>

        </div>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
    </div>
    <div class="top-bl">
      <div class="container">
        <div class="cart">
			    
		</div>
      </div>
    </div>
  
  <section id="content row" class="container">
    {% block content %}{% endblock %}
  </section>
</body>
</html>